<div class="container">
    <div class="container">
        <div class = 'col s12 m4 l6'>
            <div class = 'row'>
                <div class = 'signup-box'>
                    <h1 class = 'platzigram'><%= __('GN8') %></h1>
                    <form class = 'signup-form'>
                        <div class = 'section'>
                            <a class = 'btn btn-fb hide-on-small-only'>Signup with facebook</a>
                            <a class = 'btn btn-fb hide-on-med-and-up'><i class="fa fa-facebook-official"></i> Signup</a>
                        </div>
                        <div class = 'divider'>
                        </div>
                        <div class = 'section'>
                            <input type = 'email' name = 'email' placeholder = "Email"/>
                            <input type = 'text' name = 'name' placeholder = "Fullname"/>
                            <input type = 'text' name = 'username' placeholder = "Username"/>
                            <input type = 'password' name = 'password' placeholder = "Password"/>
                            <button class = 'btn waves-effect waves-ligth btn-signup'  type = 'submit'>Signup</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'login-box'>
                    Have an account? <a href = '/signin'>Signin</a>
                </div>
            </div>
        </div>
    </div>
</div>